%h1 Listing users
- if notice
  %p#notice= notice
%table
  %tr
    %th Name
    %th Username
  - @users.each do |user|
    %tr
      %td= user.fullName, edit_admin_user_path(user)
      %td= user.Username
